<section class="wrapper">
    <section class="container" style="margin-bottom: 20rem !important;">
        <br>
        <h3>Calendario de Actividades</h3>
        <br>
        <section class="row">
            <section class="col-md-6 card card-body">
                <full-calendar class="testClass" [options]="calendarOptions" locale="es"></full-calendar>
            </section>

            <section class="col-md-6">
                <section class="card card-body  mt-5" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 5px; height: 26.7rem; overflow: auto;">
                    <ul>
                        <li>
                            <h3>Presentación de música clásica 2:00pm</h3>
                            <p>Música clásica variada, durante almuerzo.</p>
                            <img src="http://drive.google.com/uc?export=view&id=1UjZ_yAesP5nly2_luszNsgpEzFusxe56">
                        </li>
                        <li>
                            <h3>Presentación de música clásica 2:00pm</h3>
                            <p>Música clásica variada, durante almuerzo.</p>
                            <img src="http://drive.google.com/uc?export=view&id=1UjZ_yAesP5nly2_luszNsgpEzFusxe56">
                        </li>
                    </ul>

                </section>
            </section>

        </section>
    </section>
</section>