<section class="card card-body mb-3">
    <section class="row  ml-1">
        <h5>Agregar nuevo platillo</h5>
    </section>
    <section class="form-group row mt-1">
    </section>
    <section class="form-group row">
        <label for="name" class="col-md-6">Nombre:</label>
        <input class="form-control col-md-6" id="name">
    </section>
    <section class="form-group row">
        <label for="description" class="col-md-6">Descripción:</label>
        <textarea class="form-control  col-md-6" id="description"></textarea>
    </section>
    <section class="form-group row">
        <label for="price" class="col-md-6">Precio:</label>
        <input type="number" class="form-control col-md-6" id="price">
    </section>
    <section class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </section>
</section>