<section class="wrapper">
    <section class="container">
        <br>
        <h3>Contáctenos</h3>
        <section class="card col-md-6 mr-auto ml-auto">
            <form>
                <section class="card-body">
                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Nombre</label>
                        <section class="col-sm-9">
                            <input class="form-control" id="name">
                        </section>
                    </section>

                    <section class="form-group row">
                        <label for="restaurants" class="col-sm-3 col-form-label">Restaurante</label>
                        <section class="col-sm-9">
                            <select id="restaurants" class="custom-select">
                                <option>Restaurante 1</option>
                                <option>Restaurante 2</option>
                                <option>Restaurante 3</option>
                            </select>
                        </section>
                    </section>

                    <section class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Correo</label>
                        <section class="col-sm-9">
                            <input class="form-control" id="email">
                        </section>
                    </section>


                    <section class="form-group row">
                        <label for="consulta" class="col-sm-3 col-form-label">Consulta</label>
                        <section class="col-sm-9">
                            <textarea id="consulta" class="form-control"></textarea>
                        </section>
                    </section>
                    <section class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </section>
                </section>
            </form>
        </section>
    </section>
</section>