<section class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <section class="modal-dialog  modal-dialog-centered">
        <section class="modal-content">
            <section class="modal-header justify-content-cente">
                <section class="mr-auto ml-auto">
                    <i class="fa fa fa-exclamation-circle fa-4x" style="color: #ffd400;" href="# " aria-hidden="true "></i>
                </section>
                <button type="button" style="position: absolute;right: 1rem;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </section>
            <section class="modal-body text-center">
                Pregunta de confirmación
                <br>
                <br>
                <section class="justify-content-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </section>
            </section>
        </section>
    </section>
</section>