<!-- Footer -->
<footer class="footer page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">


                <ul class="list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer__title">Conócenos</h5>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Sobre nosotros</a>
                    </li>
                    <li>
                        <a class="footer__link" (click)='goToContactUs()'>Contáctenos</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Horarios</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="row col-md-4 mx-auto justify-content-center">
                <ul class="list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer__title">Cómo llegar</h5>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Restaurante 1</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Restaurante 2</a>
                    </li>
                    <li>
                        <a class="footer__link" href="#!">Restaurante 3</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="row col-md-4 mx-auto justify-content-md-end justify-content-center">


                <ul class="list-unstyled">
                    <li>
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footer__title">Síguenos en</h5>
                    </li>
                    <li>
                        <ul class="list-unstyled socila-list">
                            <li>
                                <a href="#" class="footer__icon"><i class="fa fa-youtube-square"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" class="footer__icon"><i class="fa fa-tripadvisor"
                                        aria-hidden="true "></i></a>
                            </li>
                            <li>
                                <a href="#" class="footer__icon "><i class="fa fa-instagram"
                                        aria-hidden="true "></i></a>
                            </li>
                            <li>
                                <a href="#" class="footer__icon "><i class="fa fa-facebook-square"
                                        aria-hidden="true "></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="footer-copyright" href="#">Restaurantes Sabores Exóticos</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->