<div class="wrap">
    <section class="zero-padding  col-lg-12  col-md-12 col-sm-12 col-xs-12">
        <section id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <section class="carousel-inner">
                <section class="carousel-item active">
                    <img class="d-block w-100" src="http://drive.google.com/uc?export=view&id=1h8lxhN316igNH3I4MpPx6E2APreVOKfU" alt="First slide">
                </section>
                <section class="carousel-item">
                    <img class="d-block w-100" src="http://drive.google.com/uc?export=view&id=1CkEyUMUcspWF2iJmvIvLiCeAhi83S3QK" alt="Second slide">
                </section>
                <section class="carousel-item">
                    <img class="d-block w-100" src="http://drive.google.com/uc?export=view&id=1XZoPYLyEk_zDRcsP_9kxq9YxpVeVBtCW" alt="Third slide">
                </section>
            </section>
        </section>
    </section>


    <section class="container" style="margin-bottom: 13rem !important;">
        <section>
            <hr>
            <header style="text-align: center;">
                <h3>Nuestros platillos destacados</h3>
                <br>
                <button class="btn btn-primary">Ver menú</button>
            </header>
            <br>
            <section class="row">
                <section class="col-md-6">
                    <section class="container m-responsive-card-food ">
                        <button class="btn btn-transparent">Tacos Mexicanos</button>
                        <img class="w-100" src="http://drive.google.com/uc?export=view&id=1xTKqtsPI7TLcei7q0uZt4YpwFgtTfSt4">
                    </section>
                </section>
                <section class="col-md-6">
                    <section class="container">
                        <button class="btn btn-transparent">Ensalada de la casa</button>
                        <img class="w-100" src="http://drive.google.com/uc?export=view&id=1T2UMPXRM7kV5Zju0jnyDd4qDregJJbTs">
                    </section>
                </section>
            </section>
        </section>
        <section>
            <hr>
            <header>
                <h3>Opiniones de nuestros clientes</h3>
                <br>
            </header>

            <section class="col-lg-3 col-md-6 col-sm-6" style="float:left">
                <section class="card card-review">
                    <section class="card-body">
                        <section class="row">
                            <section class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="card-title">María Pérez</h6>
                            </section>
                            <section class="col-lg-6 col-md-6 col-sm-6 review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </section>
                        </section>
                        <p class="card-text">La pizza a la leña es la mejor! Mis hijos disfrutaron la estadía en el restaurante.</p>
                    </section>
                </section>
            </section>

            <section class="col-lg-3 col-md-6 col-sm-6" style="float:left">
                <section class="card card-review">
                    <section class="card-body">
                        <section class="row">
                            <section class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="card-title">Esteban González</h6>
                            </section>
                            <section class="col-lg-6 col-md-6 col-sm-6 review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </section>
                        </section>
                        <p class="card-text">La atención es espectacular. Don Francisco nos recibió como en nuestra casa, sin duda seremos clientes frecuentes.</p>
                    </section>
                </section>
            </section>


            <section class="col-lg-3 col-md-6 col-sm-6" style="float:left">
                <section class="card card-review">
                    <section class="card-body">
                        <section class="row">
                            <section class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="card-title">Nelson Araya</h6>
                            </section>
                            <section class="col-lg-6 col-md-6 col-sm-6 review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </section>
                        </section>
                        <p class="card-text">Nunca había probado una ensalada tan deliciosa. Lo recomendaré a mis amigos, ¡gracias Don Francisco y familia, por tomar en cuenta a la comunidad vegana!</p>
                    </section>
                </section>
            </section>

            <section class="col-lg-3 col-md-6 col-sm-6" style="float:left;">
                <section class="card card-review">
                    <section class="card-body">
                        <section class="row">
                            <section class="col-lg-6 col-md-6 col-sm-6">
                                <h6 class="card-title">Nelson Araya</h6>
                            </section>
                            <section class="col-lg-6 col-md-6 col-sm-6 review-stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </section>
                        </section>
                        <p class="card-text">Nunca había probado una ensalada tan deliciosa. Lo recomendaré a mis amigos, ¡gracias Don Francisco y familia, por tomar en cuenta a la comunidad vegana!</p>
                    </section>
                </section>
            </section>


        </section>
    </section>



</div>