/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/variable.scss";

/* for sidenav to take a whole page */

.fc .fc-button-group>.fc-button {
    background-color: $darkBrown;
    border-color: $darkBrown;
}

.fc .fc-toolbar.fc-header-toolbar {
    color: #666666;
}

html,
body {
    height: 100%;
}

.wrap {
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

button:focus {
    outline: 0ch !important;
    box-shadow: none !important;
    border: 1px solid rgba(43, 43, 43, 0.8) !important;
}

.form-control:focus {
    border-color: #dadada !important;
    outline: 0;
    box-shadow: none !important;
}

.btn-primary {
    background: #401C04 !important;
    mix-blend-mode: normal;
    border: 1px solid #401C04 !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btn-primary :hover {
    background-color: #653b1e !important;
}

.btn-transparent {
    background: #FFFFFF !important;
    border: 2px solid #FFFFFF !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
    color: #5E2129 !important;
}

.btn-transparent :hover {
    color: #5E2129;
    background-color: #653b1e !important;
}

.container .btn-transparent {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.label-description {
    font-family: "Roboto Regular";
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
}

.label-title {
    font-family: "Roboto Bold";
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
}

.row-not-margin {
    margin: 0;
}

.form-control {
    font-family: $roboto-regular;
    font-size: $font-size-small;
    background: #FFFFFF !important;
    border: 1px solid #DAA640 !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    font-weight: 500;
}

.custom-select {
    border: 1px solid #DAA640 !important;
    box-sizing: border-box;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px;
}

label {
    font-family: Roboto;
    font-family: $roboto-regular;
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #000000;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $darkBrown;
}

.card {
    background: rgba(248, 246, 242, 0.71);
    border-radius: 10px;
}

//////////////////////////////////////////////////////////STYLE ERROR REQUIRED/////////////////////////////////////////////////////////
.alert-error-required {
    font-family: $roboto-regular;
    font-size: $font-size-small;
    color: $red;
}

.form-control-error {
    box-shadow: 0 0 18px $red;
}

//////////////////////////////////////////////////////////STYLE ERROR REQUIRED/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////STYLE GLOBAL FONTS/////////////////////////////////////////////////////////
.gbl-title-primary {
    font-family: $roboto-regular;
    color: $black;
    font-size: $font-size-medium-big;
}

.gbl-title-secondary {
    font-family: $roboto-regular;
    color: $black;
    font-size: $font-size-medium;
}

.gbl-tabs-history {
    font-family: $roboto-regular;
    color: $black;
    font-size: $font-size-medium-small;
}

//////////////////////////////////////////////////////////STYLE GLOBAL FONTS/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////STYLE FOOTER/////////////////////////////////////////////////////////
.gbl-footer {
    background-color: $primaryColor;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gbl-footer-font {
    font-family: $roboto-regular;
    font-size: $font-size-medium-small;
    color: $white;
}

.gbl-footer-icon {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: 100% auto;
    height: 4rem;
    width: 13rem;
    margin-top: 1rem;
}

.mat-menu-panel-color {
    background: $darkBrown!important;
    color: $yellow !important;
}

//////////////////////////////////////////////////////////STYLE FOOTER/////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////STYLE MODAL GENERALS/////////////////////////////////////////////////////////
.gbl-header-feedback-modal {
    background-color: $primaryColor;
    min-width: 30.8rem;
    max-width: 30.8rem;
    min-height: 45px;
    max-height: 45px;
    margin-bottom: 1.5rem;
}

.gbl-header-error-modal {
    background-color: $white;
    min-width: 30.8rem;
    max-width: 30.8rem;
    min-height: 45px;
    max-height: 45px;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(43, 43, 43, 0.8);
}

.gbl-button-save {
    background-color: $secondaryLightColor;
    font-family: $roboto-bold;
    font-size: $font-size-small;
    border: 1px solid rgba(43, 43, 43, 0.8);
    border-radius: 2px;
    color: $white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gbl-button-delete {
    background-color: $red;
    font-family: $roboto-bold;
    font-size: $font-size-small;
    border: 1px solid rgba(43, 43, 43, 0.8);
    border-radius: 2px;
    color: $white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.gbl-font-feedback-modal {
    font-family: $roboto-regular;
    color: $black;
    font-size: $font-size-small;
    text-align: center;
}

//////////////////////////////////////////////////////////STYLE MODAL GENERALS/////////////////////////////////////////////////////////
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: $primaryColor;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $primaryColor;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: $primaryColor;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $primaryColor !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primaryColor !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $primaryColor !important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: $primaryColor !important;
}


/***** SECTION SCROLL ****/


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/***** SECTION SCROLL ****/

//////////////////////////////////////////////////////////STYLE MODALS RESPONSIVE/////////////////////////////////////////////////////////
.modal-confirm {
    min-width: 478px;
    max-width: 478px !important;
    max-height: 248px;
    min-height: 232px;
    @media (max-width: 580px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 248px;
        min-height: 232px;
    }
    @media (max-width:380px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 248px;
        min-height: 232px;
    }
}

.modal-error {
    min-width: 478px;
    max-width: 478px !important;
    max-height: 280px;
    min-height: 280px;
    @media (max-width: 580px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 280px;
        min-height: 280px;
    }
    @media (max-width:380px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 280px;
        min-height: 280px;
    }
}

.modal-success {
    min-width: 478px;
    max-width: 478px !important;
    max-height: 248px;
    min-height: 232px;
    @media (max-width: 580px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 248px;
        min-height: 232px;
    }
    @media (max-width:380px) {
        min-width: 339px;
        max-width: 343px !important;
        max-height: 248px;
        min-height: 232px;
    }
}

//////////////////////////////////////////////////////////STYLE MODALS RESPONSIVE/////////////////////////////////////////////////////////
@media screen and (max-width:767px) {
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}