.span-menu-group-food {
    font-size: 1.2rem;
    font-weight: normal;
    color: #000000;
    background-color: transparent !important;
    border-color: transparent !important;
    text-decoration: none;
}

.list-group-item.active {
    font-weight: bold;
    background-color: transparent !important;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000 !important;
    border-bottom: black!important;
}