<section class="wrapper">
    <section class="container">
        <br>
        <h3>Mantenimiento de platillos</h3>
        <section class="row">
            <button type="submit" (click)="addNewDish('asda')" class="btn btn-primary ml-auto">Agregar</button></section>
        <section class="row">
            <label for="category" class="col-md-4">Categoría:</label>
            <select id="category" class="col-md-4 custom-select">
                        <option>Banner Principal</option>
                        <option>Platillos destacados</option>
                        <option>Logo</option>
                    </select>
        </section>
        <section class="table-responsive">
            <table class="table table-bordered" style="margin: auto;width: 100% !important; ">
                <thead>
                    <tr>
                        <th>Ubicación</th>
                        <th>Imagen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Banner principal
                        </td>
                        <td>
                            Plato de carnes
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-danger">
                                <i class="fa fa-trash-o " href="# " aria-hidden="true "></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Banner principal
                        </td>
                        <td>
                            Plato de brochetas de vegetales
                        </td>
                        <td class="text-center ">
                            <a class="btn btn-outline-danger">
                                <i class="fa fa-trash-o " href="# " aria-hidden="true "></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Platillos destacados
                        </td>
                        <td>
                            Tacos mexicanos
                        </td>
                        <td class="text-center ">
                            <a class="btn btn-outline-danger">
                                <i class="fa fa-trash-o " href="# " aria-hidden="true "></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Platillos destacados
                        </td>
                        <td>
                            Ensalada de la casa
                        </td>
                        <td class="text-center ">
                            <a class="btn btn-outline-danger">
                                <i class="fa fa-trash-o " href="# " aria-hidden="true "></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>
</section>